Source: lliurex-grub-custom
Section: utils
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.9.7

Package: lliurex-grub-custom
Architecture: all
Depends: ${misc:Depends}
Conflicts: casper-customize-mod-nsswitch (<= 0.10~alpha11)
Replaces: casper-customize-mod-nsswitch 
Provides: casper-customize-mod-nsswitch 
Description: Contains lliurex-grub-custom modifications
 This package contains the : lliurex-grub 
 resources.

Package: lliurex-grub-custom-disable-osprober
Architecture: all
Depends: ${misc:Depends}
Description: Contains GRUB_DISABLE_OSPROBER configuration
 This package contains configuration to disable os-prober

Package: lliurex-grub-custom-igfx-off
Architecture: all
Depends: ${misc:Depends}
Description: Add boot option intel_iommu=igfx_off to grub
 This package configures grub to avoid screen flickering
 with some Intel grahics.
 Provided configuration fixes flickering problems detected
 in GVA PRJ1 laptops when using external HDMI monitor.
