Source: lliurex-grub-custom
Section: utils
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Angel Berlanas Vicente <angel.berlanas@gmail.com>, Raul Rodrigo Segura <lliurex_devel3@edu.gva.es>, David Montalva Furio <montalva_dav@gva.es>, Alfons Lloret Sananton <lliurex_devel5@edu.gva.es>, Enrique Medina Gremaldos <lliurex_devel4@edu.gva.es>, Hector Garcia Huerta <lliurex_devel1@edu.gva.es>, Jose Carlos Garcia Monsalvez <garcia_josmon@gva.es>, Jaime Munyoz Fayos <munyoz_jaifay@gva.es>, Miguel Garcia Gomez <garcia_miggom@gva.es>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.9.3

Package: lliurex-grub-custom
Architecture: all
Depends: ${misc:Depends}
Conflicts: casper-customize-mod-nsswitch (<= 0.10~alpha11)
Replaces: casper-customize-mod-nsswitch 
Provides: casper-customize-mod-nsswitch 
Description: Contains lliurex-grub-custom modifications
 This package contains the : lliurex-grub 
 resources.


